DATA:
    ROOT: '/PATH/TO/videos/folder'
    TRAIN_FILE: 'datasets_splits/base2novel_splits/ucf_splits/fs_base_s2_train.txt'
    VAL_FILE: 'datasets_splits/base2novel_splits/ucf_splits/base_val.txt'
    DATASET: ucf101
    NUM_FRAMES: 32
    NUM_CLASSES: 51
    LABEL_LIST: 'labels/ucf_101_base_labels.csv'
MODEL:
    ARCH: ViT-B/16
TRAIN:
    BATCH_SIZE: 4 # BS 64
    ACCUMULATION_STEPS: 2
    EPOCHS: 11
    LR: 2.e-06
TRAINER:
  ViFi_CLIP:
    ZS_EVAL: False # Make True only during test mode to evaluate zero-shot vanilla CLIP performance
    USE: "both" # both refers to complete fine-tuning of CLIP (text+image encoders)
SAVE_FREQ: 10